.popup__close-button {
    position: absolute;
    top: -47px;
    right: -45px; 
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .popup__close-button {
        width: 40px;
        top: -30px;
        right: -30px;
    }
}